<div>
  <% if !@latestgame.nil? && @latestgame != [] %>
      <h1>Game (Latest)</h1>
  <%= @latestgame.n2 %>
  <%= @latestgame.n3 %>
  <%= @latestgame.n4 %>
  <%= @latestgame.n5 %>
  <%= @latestgame.n6 %>
  <%= @latestgame.n7 %>
  <%= @latestgame.n8 %>
  <%= @latestgame.n9 %>
  <%= @latestgame.n10 %>
  <%= @latestgame.n11 %>
  <%= @latestgame.n12 %>
  <%= @latestgame.n13 %>
  <%= @latestgame.n14 %>
  <%= @latestgame.n15 %>
  <% else %>
        Game not found
  <% end %>

</div>